.box {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  justify-content: center;

  min-width: 600px;
  margin: 0 auto;
}

.scrollContainerWrapper {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bottomContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.bottomElementsWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
}

.scrollContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 500px;
}

.bunContainer {
  padding-left: 70px;
}
